@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:wght@300;500&family=Questrial&display=swap");

:root {
  --primary-color: #101616;
  --secondary-color: #81CCB8;
  --tertiary-color-1: #B17D4C;
  --tertiary-color-2: #FFFFFF;
}

body {
  background-color: var(--primary-color);
  font-family: "Questrial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.container {
  text-align: center;
}

.title {
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: bold;
}

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
}

/* Size of the card */
.input-container {
  position: relative;
  height: 20rem;
  width: 20rem;
  margin: 1rem;
}

.input-container input {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

.input-container .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 8px solid var(--secondary-color);
  border-radius: 1rem;
  transition: all 300ms ease;
}

.input-container ion-icon {
  color: var(--secondary-color);
  font-size: 10rem;
}

.input-container label {
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
}

input:checked + .radio-tile {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

input:hover + .radio-tile + .home-button {
  box-shadow: 0 0 12px var(--secondary-color);
}
button:hover{
  box-shadow: 0 0 12px var(--secondary-color);
  color: #FFFFFF;
}
input:checked + .radio-tile ion-icon,
input:checked + .radio-tile label {
  color: var(--primary-color);
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10rem;
  margin-top: 2rem;
}

button {
  background-color: var(--tertiary-color-1);
  color: var(--primary-color);
  font-size: 1rem;
  height: 3rem;
  width: 12rem; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

button:active {
  box-shadow: 0 0 12px var(--tertiary-color-1);
}
.mapping-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 20%;
}

.mapping-item label {
  flex: 1;
  text-align: center;
}


.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 60px;
}
.delete-button:hover {
  background-color: #b91010;
  color: #FFFFFF;
  padding: 0%;
  margin-right: 10px;
  width: 40px;

}

.icon-trash {
  color: rgb(4, 4, 8);
  font-size: 20px;
}
.icon-trash:hover{
  box-shadow: 0 0 20px rgb(214, 214, 231);
  color: #f7eeee;
  border-color: #101616;
  border-width: 20px;

}
.home-button {
  position: "absolute";
  margin-top: "10px";
  left: "10px";
  border: "none";
  cursor: "pointer";
  margin-top: 120px;
}
.icon-home:hover{
  color: #FFFFFF;
  font-size: 30px;
}
.icon-home{
  color: "black"; 
  font-size: "30px";
}