.tituloRelacionar{
  color: #fefefe;
  font-size: 30px;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.subTitulo {
  color: #fefefe;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.mapeo {
  color: #fefefe;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.contenedor {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 30px;
}

.gestos, .controles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botonesGestosControles {
  width: 400px;
  padding: 20px;
  margin: 10px 0;
  font-size: 16px;
  color: #000000;
  background-color: #DDD5A9;
  border-radius: 10px;
}

.botonesGestosControles.selected {
  background-color: #D9C764;
}

.contenedor-botones {
  display: flex;                  
  justify-content: space-between; 
  align-items: center;           
  width: 100%;                  
}

.Reiniciar, .Terminar {
  width: 200px;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  color: #000000;
  background-color: #99a9f1;
  margin-left: 30px;
  margin-right:30px;
}

.Confirmar {
  width: 200px;
  padding: 15px;
  margin: 10px 0;
  font-size: 16px;
  color: #ffffff;
  background-color: #9C5A5A;
}


.mappings {
  background-color: #0B2545;
  padding: 20px;
}

.mappings ul {
  padding: 0;
}

.mapping-item {
  background-color: #99a9f1;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.gesture, .control {
  flex: 1; 
  text-align: center; 
  color: #000000;
}

.arrow {
  margin: 0 10px; 
  font-size: 1.5em; 
}
